extends layout

block content
  section
    form(class='form-inline')
      div(class='form-group')
        input(type='text', id='searchText', class='form-control')
      button(id='searchButton', class='btn btn-default') Search
      
block append scripts
  script(src='/javascripts/index.js')