html, body, main, #mapSection, #mapSection .row, #mapSection [class^="col-"] {
    height:100%;
}

.row {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    margin-right: 0.5rem;
}

.yelp-rating{
    width: 50%;
}

.yelp-logo {
    width: 30%;
}

#map {
    height: 100%;
    width: 100%;
}
