html, body, #mapSection, #mapSection .row, #mapSection [class^="col-"] {
    height: 95%;
}

body {
    display: flex;
    flex-flow: column;
}

main {
    width:100%;
    height: 100%;
}

footer {
    margin-top: auto;
}
.row {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    margin-right: 0.5rem;
    width: 100%;
}

.form-control-feedback {
    text-align: start;
}

.yelp-rating{
    width: 50%;
}

.yelp-logo {
    width: 30%;
}

.scroll {
    overflow: scroll;
}

#map {
    height: 100%;
    width: 100%;
}
